<script src="https://kit.fontawesome.com/053acd23cf.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='assets/js/vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/holder.min.js') }}"></script>
