{% extends "parts/base.html" %}
{% block title %}徵信表單{% endblock title %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='mycss/investigation.css') }}">
{% endblock styles %}

{% block body %}
{% include "parts/_navbarlogin.html" %}
{% include "parts/_maininves.html" %}
{{ super() }}
<script src="{{ url_for('static', filename='bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='things/form-validation.js') }}"></script>
<script src="{{ url_for('static', filename='things/confirm1.js') }}"></script>
{% endblock body %}
