.post{
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    /* margin: 30px; */
    font-weight: bold;

}
.btn2{
    background-color: 	#8E8E8E;
    border-color: #8E8E8E;
}
.btn2:hover{
    background-color: 	#3C3C3C;
    border:solid 1px #3C3C3C;
}