<div class="container marketing">
 <hr class="featurette-divider">
    <div class="container container_main">
        <div class="py-5 text-center">
            <h2>貸款申請表單</h2>
        </div>
        <div>
            <div class="row justify-content-end">
                <button class="btn btn-secondary btn-sm btn4" type="demo" id="demo">
                    <i class="fa-solid fa-file-pen"></i>&nbsp;Demo</button>
            </div>
        </div>
        <form class="needs-validation post" novalidate action="#" method="post" autocomplete="off">
            <!-- <hr class="my-4"> -->
            <fieldset class="row g-3">
                <legend>基本資訊</legend>
                <div class="col-md-4 divm">
                    <label for="lastName" class="form-label">姓氏</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        姓氏是必填欄位
                    </div>
                </div>
                <div class="col-md-4 divm">
                    <label for="firstName" class="form-label">名字</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        名字是必填欄位
                    </div>
                </div>
                <div class="col-md-4 divm ">
                    <label for="gender" class="form-label">性別</label><br>
                    <div class="gender">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender-male" value="male">
                            <label class="form-check-label" for="gender-male">男</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender-female"
                                value="female">
                            <label class="form-check-label" for="gender-female">女</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender-others" value="others"
                                checked>
                            <label class="form-check-label" for="gender-others">其他</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 divm">
                    <label for="birth-day" class="form-label">生日</label><br>
                    <input type="date" class="form-select date1" id="birth-day" required>
                    <div class="invalid-feedback">
                        請選擇您的生日
                    </div>
                </div>
                <div class="col-md-4 divm">
                    <label for="education" class="form-label">學歷</label><br>
                    <select class="form-select" id="education">
                        <option value="" disabled selected>(選擇)</option>
                        <option>國中</option>
                        <option>高中</option>
                        <option>大學</option>
                        <option>大學肆業</option>
                        <option>研究所</option>
                    </select>
                </div>
                <div class="col-md-4 divm">
                    <label for="family-type" class="form-label">婚姻狀況</label><br>
                    <select class="form-select" id="family-type" required>
                        <option value="" disabled selected>(選擇)</option>
                        <option>已婚</option>
                        <option>未婚</option>
                        <option>同居</option>
                        <option>離婚</option>
                        <option>鰥寡</option>
                        <option>未知</option>
                    </select>
                    <div class="invalid-feedback">
                        請選擇婚姻狀況
                    </div>
                </div>
                <div class="col-md-4 divm">
                    <label for="family-member" class="form-label">家庭成員數</label>
                    <input type="text" class="form-control" id="family-member" placeholder="0">
                </div>
                <div class="col-md-4 divm">
                    <label for="family-child" class="form-label">子女數</label>
                    <input type="text" class="form-control" id="family-child" placeholder="0">
                </div>
                <!-- 聯絡方式 -->

                <div class="col-md-6 divm">
                    <label for="phone-home" class="form-label">住家電話</label>
                    <input type="text" class="form-control" id="phone-home" placeholder="" value="">
                </div>

                <div class="col-md-6 divm ">
                    <label for="phone-mobile" class="form-label">手機</label>
                    <input type="text" class="form-control" id="phone-mobile" placeholder="" value="" maxlength="10">
                </div>
                <div class="col-12 divm">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                </div>
                <!-- 永久地址 -->
                <div class="col-md-2 divm">
                    <label for="address-main-region" class="form-label">永久地址</label>
                    <select class="form-select" id="address-main-region" required>
                        <option value="" disabled selected>(選擇地區)</option>
                        <option>台灣</option>
                    </select>
                    <div class="invalid-feedback">
                        請選擇你居住的地區
                    </div>
                </div>
                <div class="col-md-2 divm">
                    <label for="address-main-city" class="form-label">&nbsp;</label>
                    <select class="form-select" id="address-main-city" required>
                        <option value="" disabled selected>(選擇城市)</option>
                        <option>台北市</option>
                        <option>基隆市</option>
                        <option>新北市</option>
                        <option>桃園市</option>
                        <option>新竹縣</option>
                        <option>新竹市</option>
                        <option>苗栗縣</option>
                        <option>彰化縣</option>
                        <option>台中市</option>
                        <option>南投縣</option>
                        <option>雲林縣</option>
                        <option>嘉義縣</option>
                        <option>嘉義市</option>
                        <option>台南市</option>
                        <option>高雄市</option>
                        <option>屏東縣</option>
                        <option>花蓮縣</option>
                        <option>台東縣</option>
                        <option>澎湖縣</option>
                        <option>金門縣</option>
                        <option>連江縣</option>
                    </select>
                    <div class="invalid-feedback">
                        請選擇你居住的城市
                    </div>
                </div>
                <div class="col-md-8 divm">
                    <label for="address-main-addr" class="form-label">&nbsp;</label>
                    <input type="text" class="form-control" id="address-main-addr" placeholder="住址" required>
                    <div class="invalid-feedback">
                        請輸入地址
                    </div>
                </div>
                <!-- 聯絡地址 -->
                <!-- <div class="col-12 divm divm mar">
                    <input class="form-check-input" type="checkbox" value="" id="same-address-1">
                    <label class="form-label form-check-label-new1" for="same-address-1">同永久地址</label>
                </div> -->
                <div class="col-md-2 divm">
                    <label for="address-contact-region" class="form-label">聯絡地址</label>
                    <select class="form-select" id="address-contact-region">
                        <option value="" disabled selected>(選擇地區)</option>
                        <option>台灣</option>
                    </select>
                </div>
                <div class="col-md-2 divm">
                    <label for="address-main-addr" class="form-label">&nbsp;</label>
                    <input class="form-check-input" type="checkbox" value="" id="same-address-1">
                    <label class="form-label form-check-label-new1" for="same-address-1">同永久地址</label>
                    <select class="form-select" id="address-contact-city">
                        <option value="" disabled selected>(選擇城市)</option>
                        <option>台北市</option>
                        <option>基隆市</option>
                        <option>新北市</option>
                        <option>桃園市</option>
                        <option>新竹縣</option>
                        <option>新竹市</option>
                        <option>苗栗縣</option>
                        <option>彰化縣</option>
                        <option>台中市</option>
                        <option>南投縣</option>
                        <option>雲林縣</option>
                        <option>嘉義縣</option>
                        <option>嘉義市</option>
                        <option>台南市</option>
                        <option>高雄市</option>
                        <option>屏東縣</option>
                        <option>花蓮縣</option>
                        <option>台東縣</option>
                        <option>澎湖縣</option>
                        <option>金門縣</option>
                        <option>連江縣</option>
                    </select>
                </div>
                <div class="col-md-8 divm">
                    <label for="address-main-addr" class="form-label">&nbsp;</label>
                    <input type="text" class="form-control" id="address-contact-addr" placeholder="聯絡地址">
                </div>
                <!-- 住房種類 -->
                <div class="col-md-4 divm">
                    <label for="housetype" class="form-label">居住房屋型態</label><br>
                    <select id="housetype" class="form-select selec1" value="">
                        <option value="" disabled selected>(請選住房類型)</option>
                        <option>公寓(Municipal)</option>
                        <option>出租公寓</option>
                        <option>套房(office)</option>
                        <option>與父母同住</option>
                        <option>獨棟</option>
                    </select>
                    <div class="invalid-feedback">
                        請選擇住房類型
                    </div>
                </div>
            </fieldset>

            <!-- <hr class="my-4"> -->
            <fieldset class="row g-3">
                <legend>經濟概況</legend>
                <!-- 工作地址 -->
                <div class="col-md-2 divm">
                    <label for="address-work-region" class="form-label">工作地址</label>
                    <select class="form-select" id="address-work-region">
                        <option value="">(選擇地區)</option>
                        <option>台灣</option>
                    </select>
                </div>
                <div class="col-md-2 divm">
                    <label for="address-main-addr" class="form-label">&nbsp;</label>
                    <input class="form-check-input" type="checkbox" value="" id="same-address-2">
                    <label class="form-label form-check-label-new1" for="same-address-2">同永久地址</label>
                    <select class="form-select" id="address-work-city">
                        <option value="">(選擇城市)</option>
                        <option>台北市</option>
                        <option>基隆市</option>
                        <option>新北市</option>
                        <option>桃園市</option>
                        <option>新竹縣</option>
                        <option>新竹市</option>
                        <option>苗栗縣</option>
                        <option>彰化縣</option>
                        <option>台中市</option>
                        <option>南投縣</option>
                        <option>雲林縣</option>
                        <option>嘉義縣</option>
                        <option>嘉義市</option>
                        <option>台南市</option>
                        <option>高雄市</option>
                        <option>屏東縣</option>
                        <option>花蓮縣</option>
                        <option>台東縣</option>
                        <option>澎湖縣</option>
                        <option>金門縣</option>
                        <option>連江縣</option>

                    </select>
                </div>
                <div class="col-md-8 divm">
                    <label for="address-main-addr" class="form-label">&nbsp;</label>
                    <input type="text" class="form-control" id="address-work-addr" placeholder="工作地址">
                </div>
                <div class="col-md-4 divm">
                    <label for="phone-work" class="form-label">工作地點電話</label>
                    <input type="text" class="form-control" id="phone-work" placeholder="" value="">
                </div>
                <!-- 客戶收入/職業 -->
                <div class="col-md-4 divm">
                    <label for="income-type" class="form-label">主要收入來源</label><br>
                    <select class="form-select" id="income-type" required>
                        <option value="" disabled selected>(選擇類型)</option>
                        <option>工作</option>
                        <option>投資</option>
                        <option>退休金</option>
                        <option>公職俸給</option>
                        <option>失業補助</option>
                        <option>助學金</option>
                        <option>商務</option>
                        <option>生產補助</option>
                    </select>
                    <div class="invalid-feedback">
                        請選擇收入類型
                    </div>
                </div>
                <div class="col-md-4 divm">
                    <label for="profession-type" class="form-label">從事行業別</label><br>
                    <select class="form-select" id="profession-type" required>
                        <option value="">(選擇類型)</option>
                        <option>一般勞工</option>
                        <option>銷售人員</option>
                        <option>公司經營者</option>
                        <option>管理人員</option>
                        <option>司機</option>
                        <option>技術人員</option>
                        <option>會計師</option>
                        <option>醫事人員</option>
                        <option>保全、警衛人員</option>
                        <option>廚房人員</option>
                        <option>清潔人員</option>
                        <option>私人服務人員</option>
                        <option>非技術勞工</option>
                        <option>服務生、酒保</option>
                        <option>秘書</option>
                        <option>房地產經紀人</option>
                        <option>人力資源人員</option>
                        <option>IT人員</option>
                    </select>
                    <div class="invalid-feedback">
                        請選擇職業
                    </div>
                </div>
                <div class="col-md-4 divm">
                    <label for="profession-org" class="form-label">工作機構類型</label><br>
                    <select class="form-select" id="profession-org">
                        <option value="" disabled selected>(選擇類型)</option>
                        <option>有限責任公司/企業</option>
                        <option>自雇</option>
                        <option>其他</option>
                    </select>
                </div>
                <div class="col-md-4 divm">
                    <label for="profession-date" class="form-label">現有工作到職日</label><br>
                    <input type="date" class="form-select date1" id="profession-date">
                </div>
                <div class="col-md-4 divm Icon-inside">
                    <label for="annaulincome" class="form-label">年收入</label>
                    <!-- <span class="input-group-text">$</span> -->
                    <input type="text" class="form-control dollar mar2" aria-label="Amount (to the nearest dollar)"
                        id="annaulincome" placeholder=".00">
                    <!-- <span class="input-group-text">.00</span> -->
                    <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
                </div>
                <div class="col-md-4 divm ">
                    <label for="tenure-care" class="form-label">是否擁有車輛</label><br>
                    <div class="car">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tenure-care" id="tenure-care-yes"
                                value="tenure-care-yes">
                            <label class="form-check-label" for="tenure-care-yes">是</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tenure-care" id="tenure-care-no"
                                value="tenure-care-no" checked>
                            <label class="form-check-label" for="tenure-care-no">否</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 divm">
                    <label for="tenure-care-date" class="form-label">車輛年限</label><br>
                    <input type="date" class="form-select date1" id="tenure-care-date" disabled>
                </div>
                <div class="col-md-4 divm ">
                    <label for="" class="form-label">是否擁有房產</label><br>
                    <div class="car">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tenure-house" id="tenure-house-yes"
                                value="tenure-house-yes">
                            <label class="form-check-label" for="tenure-house-yes">是</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tenure-house" id="tenure-house-no"
                                value="tenure-house-no" checked>
                            <label class="form-check-label" for="tenure-house-no">否</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- <hr class="my-4"> -->
            <fieldset class="row g-3">
                <legend>申請相關</legend>
                <!-- 申請種類 -->
                <div class="col-md-4 divm ">
                    <label for="apply-type" class="form-label">貸款種類</label><br>
                    <div class="loantype">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="apply-type" id="apply-type1"
                                value="apply-type1" checked>
                            <label class="form-check-label" for="apply-type1">現金貸款</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="apply-type" id="apply-type2"
                                value="apply-type2">
                            <label class="form-check-label" for="apply-type2">循環貸款</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 divm Icon-inside">
                    <label for="apply-amount" class="form-label">貸款金額</label>
                    <!-- <span class="input-group-text">$</span> -->
                    <input type="text" class="form-control dollar mar2" aria-label="Amount (to the nearest dollar)"
                        id="apply-amount" placeholder=".00" required>
                    <!-- <span class="input-group-text">.00</span> -->
                    <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
                </div>
            </fieldset>

            <div class="col-md-4  divm">
                <input type="checkbox" id="pravic" name="fav_language" value="agree" required>
                <label for="pravic">我同意 <span><a
                            href="https://lyrasoft.net/en/blog/knowledge/24-chinese-privacy-policy-template.html"
                            target="_blank"> 個人隱私條款</a></span></label><br>
            </div>

            <!-- <hr class="my-4"> -->

            <div class="d-grid gap-2 d-md-block" style="text-align:right ;">
                <button class="btn btn-secondary btn-lg btn4" type="reset" id="reset-all"><i
                        class="fa-solid fa-recycle"></i>
                    重填</button>
                <button class="btn btn-primary btn-lg btn4" type="submit" id="sent"><i
                        class="fa-solid fa-paper-plane"></i>
                    送出</button>
            </div>
        </form>

    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->