<div class="container marketing">


  <!-- <hr class="featurette-divider"> -->
  <div class="container container_main">
    <div class="py-5 text-center">
      <h2>徵信表單</h2>
    </div>

    <form class="needs-validation post " novalidate action="#" method="posr" autocomplete="off" name="invesform">
      <fieldset class="row g-3">
        <legend>客戶資訊</legend>
        <div class="col-md-4 divm">
          <label for="lastName" class="form-label">客戶編號</label>
          <input type="text" class="form-control" id="curID" placeholder="" value="" required>
          <div class="invalid-feedback">
            客戶編號是必填欄位
          </div>
        </div>
        <div class="col-md-4 divm">
          <label for="firstName" class="form-label">姓名</label>
          <input type="text" class="form-control" id="fulllName" placeholder="" value="" required>
          <div class="invalid-feedback">
            名字是必填欄位
          </div>
        </div>
        <div class="col-md-4 divm">
          <label for="apply-day" class="form-label">申請日期</label><br>
          <input type="date" class="form-select date1" id="apply-day" required value="">
        </div>

        <div class="col-md-4  divm">
          <label for="registchan-day" class="form-label">最近一次註冊更改日期</label><br>
          <input type="date" class="form-select date1" id="registchan-day" required value="">
        </div>
        <div class="col-md-4  divm">
          <label for="infochan-day" class="form-label">最近一次身份更改日期</label><br>
          <input type="date" class="form-select date1" id="infocang-day" required value="">
        </div>
        <div class="col-md-4  divm">
          <label for="phonechan-day" class="form-label">最近一次電話更改日期</label><br>
          <input type="date" class="form-select date1" id="phone-day" required value="">
        </div>
        <div class="col-md-4  divm">
          <label for="OBSSOCIAL60" class="form-label">社交狀態</label><br>
          <input type="number" class="form-select date1" id="OBSSOCIAL60" min="0" value="" required>
        </div>
        <div class="col-md-4 divm">
          <label for="suitetype" class="form-label">申請貸款時陪同者</label><br>
          <select id="suitetype" class="form-select selec1" aria-valuetext="" >
            <option disabled selected>(請選擇)</option>
            <option>無人陪同</option>
            <option>夥伴</option>
            <option>伴侶</option>
            <option>小孩</option>
            <option>父母</option>
            <option>其他家人</option>
          </select>
        </div>
        <div class="col-md-4 divm">
          <label for="housetype" class="form-label">居住房屋型態</label><br>
          <select id="housetype" class="form-select selec1" aria-valuetext="">
            <option  disabled selected>(選擇房屋型態)</option>
            <option>公寓(Municipal)</option>
            <option>出租公寓</option>
            <option>套房(office)</option>
            <option>與父母同住</option>
            <option>獨棟</option>
          </select>
        </div>
        <div class="col-md-4 divm Icon-inside">
          <label for="accountamt" class="form-label">帳戶餘額</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="accountamt"
           value="" placeholder=".00">
          <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
        </div>
        <div class="col-md-4 divm Icon-outside mar">
          <label for="cardavg" class="form-label">所有信用卡平均額度</label>
          <input type="text" class="form-control card" aria-label="Amount (to the nearest dollar)" id="cardavg"
           value="" placeholder=".00">
          <i class="fa-solid fa-money-check-dollar" aria-hidden="true"></i>
        </div>
        <div class="col-12 divm">
          <label for="suitetype" class="form-label "><i class="fa-regular fa-file-lines"></i> 文件繳交件數</label><br>
          <div class="form-check form-check-inline">
            <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="numFile"
             value="" placeholder="件">
          </div>
        </div>
      </fieldset>

      <fieldset class="row g-3">
        <legend class="legend2">本行過去申請紀錄</legend>
        <div class="col-md-3  divm">
          <label for="latpay" class="form-label">申請時有無人陪伴</label><br>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="typeSuite"
           value=""  placeholder="(1或0)">
        </div>
        <div class="col-md-3 divm">
          <label for="yieldhigh" class="form-label">之前申請貸款的利率</label><br>
          <select id="yieldhigh" class="form-select selec1" aria-valuetext="">
            <option value="" disabled selected>(請選擇)</option>
            <option>低</option>
            <option>中</option>
            <option>高</option>
          </select>
        </div>
        <div class="col-md-3  divm">
          <label for="latpay" class="form-label">先前申請與本次申請間隔時間</label><br>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="perIDOmedian"
           value="" placeholder="天">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="daydecision" class="form-label">貸款合約相對時間長</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="daydecision"
           value="" placeholder="天">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="daysperdiomedian" class="form-label">客戶大約在幾點申請貸款</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
            id="daysperdiomedian" value="" placeholder="(24小時制)">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="daysperdiomedian" class="form-label">客戶星期幾申請貸款</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
            id="weekdayStart" value="" placeholder="(1-7)">
        </div>
        <div class="col-md-3  divm">
          <label for="cntpaymentnedian" class="form-label">過去貸款期數中位數</label><br>
          <input type="number" class="form-select date1" id="cntpaymentnedian" min="0"  value="">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevloansum" class="form-label">過去核貸總額</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="prevloansum"
           value=""  placeholder=".00">
          <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevdownmedian" class="form-label">過去貸款頭期款中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="prevdownmedian"
           value="" placeholder=".00">
          <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevdownpromedian" class="form-label">過去頭期款利率中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
           value="" id="prevdownpromedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">過去銀行最高願意核貸例率</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="prevcremax" value="">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevprimarymedian" class="form-label">過去貸款利率中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
            id="prevprimarymedian" value="">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevprimarymax" class="form-label">過去貸款利率最大值</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
           value="" id="prevprimarymax">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevprimarymedian" class="form-label">每月償還中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
           value="" id="annuityMedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">至銀行付現比例</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="cashBank" value="">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">薪轉支付比例</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="accountEmplyer" value="">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">銀行帳戶支付比例</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="accountpay" value="">
        </div>

      </fieldset>



      <div class="d-grid gap-2 d-md-block" style="text-align:right ;">
        <button class="btn btn-secondary btn-lg btn3" type="reset" id="reset-all"><i class="fa-solid fa-recycle"></i>
          重填</button>
        <button class="btn btn-primary btn-lg btn3" type="submit" id="sent"><i class="fa-solid fa-paper-plane"></i>
          送出</button>
        <button class="btn btn-primary btn-lg btn3" type="button" id="demo"><i class="fa-solid fa-backward"></i>
          示範</button>
      </div>
    </form>

  </div>


  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->