<div class="container marketing">
  <div class="container container_main">
    <div class="py-5 text-center">
      <h2>行員確認表單</h2>
    </div>
    <div>
      <div class="row justify-content-end">
        <button class="btn btn-secondary btn-sm btn4" type="demo" id="demo">
          <i class="fa-solid fa-file-pen"></i>&nbsp;Demo</button>
      </div>
    </div>

    <form class="needs-validation post " novalidate action="#" method="posr" autocomplete="off" name="invesform">
      <fieldset class="row g-3">
        <legend>客戶資訊</legend>
        <div class="col-md-4 divm">
          <label for="lastName" class="form-label">客戶編號</label>
          <input type="text" class="form-control" id="currID" placeholder="" value=""  name="currID" required>
          <div class="invalid-feedback">
            客戶編號是必填欄位
          </div>
        </div>
        <div class="col-md-4 divm">
          <label for="fulltName" class="form-label">姓名</label>
          <input type="text" class="form-control" id="fullName" placeholder="" value=""  name="fullName" required>
          <div class="invalid-feedback">
            名字是必填欄位
          </div>
        </div>
        <!-- <div class="col-md-4 divm">
          <label for="apply-day" class="form-label">申請日期</label><br>
          <input type="date" class="form-select date1" id="apply-day" required value="" name="apply-day">
        </div> -->
        <div class="col-md-4 divm ">
          <label for="" class="form-label">是否為緊急狀態</label>
          <div class="car">
              <div class="form-check form-check-inline">
                  <input class="needs-validation" type="radio" name="emergency" id="emergency-yes"
                      value="">
                  <label class="form-check-label" for="emergency-yes">是</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="needs-validation" type="radio" name="emergency" id="emergrncy-no"
                      value=""  checked>
                  <label class="form-check-label" for="emergency-no">否</label>
              </div>
          </div>
      </div>
        <div class="col-md-4 divm">
          <label for="suitetype" class="form-label">帳號類型</label><br>
          <select id="FONDKAPREMONT_MODE" class="form-select selec1" name="FONDKAPREMONT_MODE" aria-valuetext="">
            <option disabled selected>(請選擇)</option>
            <option>註冊帳號</option>
            <option>標註帳號(spec)</option>
          </select>
        </div>
    
        <div class="col-md-4  divm">
          <label for="registchan-day" class="form-label">申請前幾天改變註冊 </label><br>
          <input type="text" class="form-select date1" id="registchan-day" placeholder="天" required value="" name="registchan-day">
        </div>
        <div class="col-md-4  divm">
          <label for="infochan-day" class="form-label">申請前幾天更改身份文件</label><br>
          <input type="text" class="form-select date1" id="infocang-day" placeholder="天" required value="" name="infocang-day"> 
        </div>
        <div class="col-md-4  divm">
          <label for="phonechan-day" class="form-label">申請前幾天更改電話</label><br>
          <input type="text" class="form-select date1" id="phone-day" placeholder="天" required value="" name="phone-day">
        </div>
        <div class="col-md-4  divm">
          <label for="OBSSOCIAL60" class="form-label">客戶周圍有幾人欠繳(觀察)</label><br>
          <input type="number" class="form-select date1" id="OBSSOCIAL60" min="0" value="" name="OBSSOCIAL60" required>
        </div>
        <div class="col-md-4  divm">
          <label for="DEFSOCIAL60" class="form-label">客戶周圍有幾人欠繳</label><br>
          <input type="number" class="form-select date1" id="DEFSOCIAL60" min="0" value="" name="DEFSOCIAL60" required>
        </div>
        <div class="col-md-4  divm">
          <label for="REQDay" class="form-label">前一天向徵信局詢問次數</label><br>
          <input type="number" class="form-select date1" id="REQDay" min="0" value="" name="REQDay" required>
        </div>
        <div class="col-md-4  divm">
          <label for="REQWeek" class="form-label">前一個月向徵信局詢問次數</label><br>
          <input type="number" class="form-select date1" id="REQWeek" min="0" value="" name="REQWeek" required>
        </div>
        <div class="col-md-4  divm">
          <label for="REQRT" class="form-label">前一季向徵信局詢問次數</label><br>
          <input type="number" class="form-select date1" id="REQRT" min="0" value="" name="REQRT" required>
        </div>
        <div class="col-md-4  divm">
          <label for="REQYear" class="form-label">前一年向徵信局詢問次數</label><br>
          <input type="number" class="form-select date1" id="REQYear" min="0" value="" name="REQYear" required>
        </div>
        <div class="col-md-4 divm">
          <label for="suitetype" class="form-label">申請貸款時陪同者</label><br>
          <select id="suitetype" class="form-select selec1" aria-valuetext="" name="suitetype">
            <option disabled selected>(請選擇)</option>
            <option>無人陪同</option>
            <option>夥伴</option>
            <option>伴侶</option>
            <option>小孩</option>
            <option>父母</option>
            <option>其他家人</option>
          </select>
        </div>
        <div class="col-md-4 divm">
          <label for="suitetype" class="form-label "><i class="fa-regular fa-file-lines"></i> 文件繳交率</label><br>
          <div class="form-check form-check-inline">
            <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="RateFile"
              value="" name="RateFile">
          </div>
        </div>
        <div class="col-md-4 divm Icon-inside">
          <label for="accountamt" class="form-label">帳戶餘額</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="accountamt"
            value="" placeholder=".00" name="accountamt">
          <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
        </div>
        <div class="col-md-4 divm Icon-outside ">
          <label for="cardavg" class="form-label">持有信用卡平均額度</label>
          <input type="text" class="form-control card" aria-label="Amount (to the nearest dollar)" id="cardavg" value=""
            placeholder=".00" name="cardavg">
          <i class="fa-solid fa-money-check-dollar" aria-hidden="true"></i>
        </div>


      </fieldset>

      <fieldset class="row g-3">
        <legend class="legend2">本行過去申請紀錄</legend>
        <div class="col-md-3  divm">
          <label for="latpay" class="form-label">申請時有無人陪伴</label><br>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="typeSuite"
            value="" placeholder="(1或0)" name="typeSuite">
        </div>
        <div class="col-md-3 divm">
          <label for="yieldhigh" class="form-label">之前申請貸款的利率</label><br>
          <select id="yieldhigh" class="form-select selec1" aria-valuetext="" name="yieldhigh">
            <option value="" disabled selected>(請選擇)</option>
            <option>低</option>
            <option>中</option>
            <option>高</option>
          </select>
        </div>
        <div class="col-md-3  divm">
          <label for="latpay" class="form-label">先前申請與本次申請間隔時間</label><br>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="perIDOmedian"
            value="" placeholder="天" name="perIDOmedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="daydecision" class="form-label">貸款合約相對時間長</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="daydecision"
            value="" placeholder="天" name="daydecision">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="daysperdiomedian" class="form-label">客戶大約在幾點申請貸款</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
            id="daysperdiomedian" value="" placeholder="(24小時制)" name="daysperdiomedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="daysperdiomedian" class="form-label">客戶星期幾申請貸款</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="weekdayStart"
            value="" placeholder="(1-7)" name="weekdayStart">
        </div>
        <div class="col-md-3  divm">
          <label for="cntpaymentnedian" class="form-label">過去貸款期數中位數</label><br>
          <input type="number" class="form-select date1" id="cntpaymentnedian" min="0" value="" name="cntpaymentnedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevloansum" class="form-label">過去核貸總額</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="prevloansum"
            value="" placeholder=".00" name="prevloansum">
          <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevdownmedian" class="form-label">過去貸款頭期款中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="prevdownmedian"
            value="" placeholder=".00" name="prevdownmedian">
          <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevdownpromedian" class="form-label">過去頭期款利率中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" value=""
            id="prevdownpromedian" name="prevdownpromedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">過去銀行最高願意核貸例率</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="prevcremax"
            value="" name="prevcremax">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevprimarymedian" class="form-label">過去貸款利率中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)"
            id="prevprimarymedian" value="" name="prevprimarymedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevprimarymax" class="form-label">過去貸款利率最大值</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" value=""
            id="prevprimarymax" name="prevprimarymax">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevprimarymedian" class="form-label">每月償還中位數</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" value=""
            id="annuityMedian" name="annuityMedian">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">至銀行付現比例</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="cashBank"
            value="" name="cashBank">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">薪轉支付比例</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="accountEmplyer"
            value="" name="accountEmplyer">
        </div>
        <div class="col-md-3 divm Icon-inside">
          <label for="prevcremax" class="form-label">銀行帳戶支付比例</label>
          <input type="text" class="form-control dollar" aria-label="Amount (to the nearest dollar)" id="accountpay"
            value="" name="accountpay">
        </div>

      </fieldset>



      <div class="d-grid gap-2 d-md-block" style="text-align:right ;">
        <button class="btn btn-secondary btn-lg btn3" type="reset" id="reset-all" name="reset-all"><i class="fa-solid fa-recycle"></i>
          重填</button>
        <button class="btn btn-primary btn-lg btn3" type="submit" id="sent" name="sent"><i class="fa-solid fa-paper-plane"></i>
          送出</button>
    </form>

  </div>


  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->