<header class="noprint">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"><img id='headimg' src="{{ url_for('static', filename='img/logo5.png') }}" alt="iSpan" width="110px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ index }}">
            <a class="nav-link" href="adminhome">首頁</a>
          </li>
          <li class="nav-item {{ apply }}">
            <a class="nav-link" href="adminapply">貸款申請表單</a>
          </li>
          <li class="nav-item {{ inves }}">
            <a class="nav-link " href="admininves">徵信表單</a>
          </li>
          <li class="nav-item {{ evalu }}">
            <a class="nav-link " href="admineval">客戶信用評估</a>
          </li>
        </ul>

        <div style="margin-right: 30px; color: #FFFFFF;"><i class="fa-regular fa-circle-user"
            style="color:	#FFFFFF; width:20px "></i> {{ bankername }}</div>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/logout"><button class="btn btn-outline-success" type="submit">Logout</button></a>
        </div>
        
      </div>
    </nav>
  </header>