<div class="container marketing">


    <hr class="featurette-divider">
    <div class="div1">
      <form action="/admineval" method="get" autocomplete="off">
        <label for="currid">客戶編號 :</label>
        <div class="input-group mb-3">
          <p>此客戶ID不存在</p>
        </div>
        <div>
          <button type="submit" class="btn button2"  onclick="checkid()"><i class="fa-solid fa-chart-column"></i> 重 來</button>
        </div>
      </form>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->