<div class="container-fluid mar">

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 man">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="text">{{ userid }} 信用報表</h1>
            <div class="btn-toolbar mb-2 mb-md-0 noprint">
                <div class="btn-group me-2 noprint">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="print">Print</button>
                </div>
            </div>
        </div>
        <div class="marketing mar">
            <div class="row ">
                <div class="divm1">
                    <img class="rounded-circle " src="{{ url_for('static', filename='img/customer.jpg') }}"
                        alt="customer" width="140" height="140">
                    <h2>{{ username }}</h2>
                    <ul class=" rounded-circle ulclass ">
                        <li>性別: {{ gender }}</li>
                        <li>年齡: {{ userage }}</li>
                        <li>電話: {{ phonenumber }}</li>
                        <li>Email: {{ email }}</li>
                        <li>申請類別: {{ loantype }}</li>
                        <li>申請金額: {{ loanAMT }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="marketing mar">
            <h2 class="butn">信用評估</h2>
            <div class="row ">
                <div class=" divm">
                    <p class="score">{{ score }}</p>
                    <h5 >信用分數1</h5>
                </div>
                <div class=" divm">
                    <p class="score">{{ score }}</p>
                    <h5>信用分數2</h5>
                </div>
                <div class=" divm">
                    <p class="score">{{ score }}</p>
                    <h5>信用分數3</h5>
                </div>
            </div>

        </div>

        <div class="marketing mar">
            <h2 class="butn">分析圖表</h2>
            <div class="row marcenter">

                <div class="col-lg-4">
                    <img class=""
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="Generic placeholder image" width="300" height="300">
                    <h4>img1</h4>
                </div>
                <div class="col-lg-4">
                    <img class=""
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="Generic placeholder image" width="300" height="300">
                    <h4>img2</h4>
                </div>
                <div class="col-lg-4">
                    <img class=""
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="Generic placeholder image" width="300" height="300">
                    <h4>img3</h4>
                </div>
            </div>

        </div>



        <div class="mar">
            <h2 class="butn">歷史紀錄</h2>
            <div class="table-responsive ">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">客戶編號</th>
                            <th scope="col">貸款種類</th>
                            <th scope="col">核貸額度</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.id }}</td>
                            <td>{{ result.type }}</td>
                            <td>{{ result.amount }}</td>
                            <td>{{ result.other1 }}</td>
                            <td>{{ result.other2 }}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mar">
            <h2 class="butn">相似客戶</h2>
            <div class="table-responsive ">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">客戶編號</th>
                            <th scope="col">貸款種類</th>
                            <th scope="col">核貸額度</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.id }}</td>
                            <td>{{ result.type }}</td>
                            <td>{{ result.amount }}</td>
                            <td>{{ result.other1 }}</td>
                            <td>{{ result.other2 }}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</div>