<div class="container-fluid mar">

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 man">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="text">客戶編號< {{ data.id }} > 信用評估報表</h1>
            <div class="btn-toolbar mb-2 mb-md-0 noprint">
                <div class="btn-group me-2 noprint">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="print">Print</button>
                </div>
            </div>
        </div>
        <div class="marketing mar">
            <div class="row ">
                <div class="divm1">
                    <ul class=" rounded-circle ulclass ">
                        <li>性別: {{ data.gender }}</li>
                        <li>年齡: {{ data.age }}</li>
                        <li>教育程度: {{ data.education }}</li>
                        <li>年收入: {{ data.income }}</li>
                        <li>申請類別: {{ data.contract }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="marketing mar">
            <h2 class="butn">信用評估 - 輕度違約風險</h2>
            <div class="row ">
                <div class=" divm">
                    <p class="score" style={{riskind.C12}}>{{ riskind.R12 }}</p>
                    <h5>從基本資料判斷</h5>
                </div>
                <div class=" divm">
                    <p class="score" style={{riskind.C22}}>{{ riskind.R22 }}</p>
                    <h5>從過去申請資料判斷</h5>
                </div>
                <div class=" divm">
                    <p class="score" style={{riskind.C32}}>{{ riskind.R32 }}</p>
                    <h5>綜合基本/過去<br>申請資料判斷</h5>
                </div>
            </div>
        </div>
        <div class="marketing mar">
            <h2 class="butn">信用評估 - 嚴重違約風險</h2>
            <div class="row ">
                <div class=" divm">
                    <p class="score" style={{riskind.C11}}>{{ riskind.R11 }}</p>
                    <h5>從基本資料判斷</h5>
                </div>
                <div class=" divm">
                    <p class="score" style={{riskind.C21}}>{{ riskind.R21 }}</p>
                    <h5>從過去申請資料判斷</h5>
                </div>
                <div class=" divm">
                    <p class="score" style={{riskind.C31}}>{{ riskind.R31 }}</p>
                    <h5>綜合基本/過去<br>申請資料判斷</h5>
                </div>
            </div>
        </div>
        
        <div class="marketing mar">
            <h2 class="butn">相似特徵之其他客戶借貸金額參考</h2>
            <div class="row marcenter">
                <div class="col-lg-4">
                    <img class="" src="{{ url_for('static', filename='img/REQ_QRT.png') }}"
                        alt="" width="300" height="250">
                    <h4>不同徵信次數之借貸金額分布</h4>
                </div>
                <div class="col-lg-4">
                    <img class="" src="{{ url_for('static', filename='img/Year_EMP112345.png') }}"
                        alt="" width="300" height="250">
                    <h4>相似工作年資之借貸金額分布</h4>
                </div>
                <div class="col-lg-4">
                    <img class="" src="{{ url_for('static', filename='img/Income112345.png') }}"
                        alt="" width="300" height="250">
                    <h4>相似年收入(萬元)之借貸金額分布</h4>
                </div>
            </div>
        </div>

        <div class="mar">
            <h2 class="butn">客戶相關紀錄</h2>
            <div class="table-responsive ">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">客戶編號</th>
                            <th scope="col">年收入</th>
                            <th scope="col">工作年資</th>
                            <th scope="col">註冊更改(年)</th>
                            <th scope="col">身分更改(年)</th>
                            <th scope="col">詢問徵信局次數(季)</th>
                            <th scope="col">過去貸款年金中位數</th>
                            <th scope="col">過去最大核貸額度</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in curr_results %}
                        <tr>
                            {% for i in result %}
                            <td>{{ i }}</td>
                            {% endfor%}
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mar">
            <h2 class="butn">相同年收入之其他客戶紀錄參考</h2>
            <div class="table-responsive ">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">客戶編號</th>
                            <th scope="col">年收入</th>
                            <th scope="col">工作年資</th>
                            <th scope="col">詢問徵信局次數(季)</th>
                            <th scope="col">貸款年金中位數</th>
                            <th scope="col">最大核貸額度</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in same_results %}
                        <tr>
                            {% for i in result %}
                            <td>{{ i }}</td>
                            {% endfor%}
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        
    </main>
</div>
</div>