<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="{{ url_for('static', filename='things/img/Loans-1.webp') }}" alt="First slide">
          <div class="container">
            <div class="carousel-caption post" style="color: black; font-weight: 600;">
              <h1>申請完成</h1>
              <p></p>
              <p id="thankyou"> </p>
              <p>感謝您的申請,申請受理時間為五個工作日</p>
              <p>請靜候通知</p>
              <p></p>
  
              <p><a class="btn btn-lg btn-primary btn2" href="#" role="button">了解更多</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>